.surface-border {
    border-right: 1px solid var(--surface-border);
    border-left: 1px solid var(--surface-border);
    border-top: 1px solid var(--surface-border);
    border-bottom: 1px solid var(--surface-border);
}
.border-rt {
    border-right: 2px solid var(--surface-border);
}

.border-bm {
    border-bottom: 2px solid var(--surface-border);
}

.bg-color {
    background-color: var(--surface-hover);
}

.bg-color-card {
    background-color: var(--surface-card);
}

