.hidden {
    display: none !important;
  }

.rounded-rt-full {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius:2000px;
    border-bottom-left-radius:2000px;
  } 