<main class="main">
  <!-- Display the error message if it exists -->
  <div *ngIf="errorMessage" class = "errMsg">
    <code>{{ errorMessage }}</code>
  </div>
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
      <p>Let's get started 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">

        <div class="login-container">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div>
              <label for="email">Email</label>
              <input id="email" formControlName="email" type="email" required />
            </div>
            <div>
              <label for="password">Password</label>
              <input id="password" formControlName="password" type="password" required />
            </div>
            <div>
              <button type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>
          </form>
          <div>or</div>
          <button (click)="loginWithGoogle()">Sign in with

            <svg class = "ggl" width="15" height="15" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
              <path fill="#EA4335"
                d="M24 9.5c3.54 0 6.68 1.22 9.15 3.63l6.88-6.88C36.45 2.54 30.6 0 24 0 14.68 0 6.56 5.62 2.46 13.91l7.93 6.15C12.28 12.63 17.71 9.5 24 9.5z" />
              <path fill="#4285F4"
                d="M46.47 24.52c0-1.62-.15-3.18-.42-4.69H24v9.07h12.6c-.54 2.79-2.12 5.15-4.47 6.77l7.05 5.48C43.43 36.67 46.47 31.08 46.47 24.52z" />
              <path fill="#FBBC05"
                d="M10.39 28.48c-1.36-2.57-2.14-5.49-2.14-8.48s.78-5.91 2.14-8.48l-7.93-6.15C1.14 9.4 0 13.57 0 18c0 4.43 1.14 8.6 3.09 12.15l7.3-5.67z" />
              <path fill="#34A853"
                d="M24 48c6.48 0 11.91-2.15 15.88-5.85l-7.05-5.48C30.78 38.68 27.55 39.5 24 39.5c-6.29 0-11.72-3.13-14.64-7.92l-7.3 5.67C6.56 42.38 14.68 48 24 48z" />
              <path fill="none" d="M0 0h48v48H0z" />
            </svg>

          </button>
        </div>

      </div>

    </div>
  </div>
</main>