:host ::ng-deep .contains .p-splitter {
  padding-top: 0.5rem;
  border: none !important;
  background: none !important;
}

:host ::ng-deep .contains .p-splitter-gutter {
  background: none !important;
  padding: 0.2rem;
}

