<main class="main">
    <!-- Display the error message if it exists -->
    <div *ngIf="errorMessage" class="errMsg">
        <code>{{ errorMessage }}</code>
    </div>
    <div class="content">
        <div class="left-side">
            <h1>{{ title }}</h1>
            <p>Let's get started 🎉</p>
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <div class="right-side">
            <div class="pill-group">

                <div class="register-container">
                    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                        <div>
                            <label for="email">Email</label>
                            <input id="email" formControlName="email" type="email" required />
                            <p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="errMsg">
                                Email is required and must be valid.
                            </p>
                        </div>

                        <div>
                            <label for="password">Password</label>
                            <input id="password" formControlName="password" type="password" required />
                            <p *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="errMsg">
                                Password is required and must be at least 6 characters.
                            </p>
                        </div>

                        <div>
                            <label for="confirmPassword">Confirm Password</label>
                            <input id="confirmPassword" formControlName="confirmPassword" type="password" required />
                            <p *ngIf="registerForm.get('confirmPassword')?.touched && passwordsDoNotMatch()" class="errMsg">
                                Passwords do not match.
                            </p>
                        </div>

                        <div>
                            <button type="submit"
                                [disabled]="registerForm.invalid || passwordsDoNotMatch()">Register</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</main>